@import '~antd/dist/antd.css';

#credentials-enter {
    margin-top: 24px;
}

#intro-block {
    margin-top: 50px;
}

#logo-block {
    width: 128px;
    height: 128px;
    margin: 12px auto auto;
}

@media only screen and (max-width: 600px) {
    .App {
        width: 95%;
    }
}

@media only screen and (min-width: 1122px) {
    .App {
        width: 70%;
    }
}

@media only screen and (min-width: 1123px) {
    .App {
        width: 50%;
    }
}

.App {
    margin: auto;
}

.fade .ant-space-item .ant-card {
    transition: all 0.4s ease-out;
    opacity: 0;
}

.fade .ant-space-item div.show, .fade .ant-space-item.show {
    opacity: 1;
}

