@import '~antd/dist/antd.css';

#intro-block {
    margin-top: 20px;
}

#logo-block {
    width: 256px;
    height: 128px;
    margin: 30px auto auto;
}

.App {
    margin: auto;
}

.fade .ant-space-item .ant-card {
    transition: all 0.4s ease-out;
    opacity: 0;
}

.fade .ant-space-item div.show, .fade .ant-space-item.show {
    opacity: 1;
}

.ant-alert, .ant-alert-error {
    height: 32px;
}

.App {
    width: 70%;
}
